/* стилизуем класс navbar */
.navbar {
    /* зделаем задний фон */
        background: lightcoral;
    /* добавим внутренние отступы верх-низ 10px, лево-право 20px */
        /* padding: 10px 20px; */
     /*добавим отступ от остальных элементов в html*/
        margin-bottom: 10px;
    }
    
    /* стилизуем сам  ненумерованный список */
    .navbar ul {
    /* убираем маркировку */
        list-style: none;
    /* убираем внешние отступы добавленные браузером */
        margin: 0;
    /* убираем внутренние отступы добавленные браузером */
        padding: 0;
    /* зададим чтобы ссылки шли в одну линию */
        display: flex;
    /* установим оступпы элементов по бокам в блоке navbar */
        padding: 0 20px;
        
    }
    
    /* стилизуем каждый элемент списка (каждую ссылку отдельно) */
    .navbar ul li {
    /* отступ справа от элемента, чтобы ссылки не прилипали друг к другу */
        margin-right: 10px;
    /* если мы уберем padding в классе .navbar, а здесь установим его, то при наведении на ссылку, задний фон каждой ссылки будет полностью высвечиваться. Если же здесь не устанавливать, а в 
    .navbar не убирать, то будет высвечиваться только малая часть за текстом ссылки */
        padding: 10px;
    }
    
    .navbar ul li:hover {
    /* при наведении на ссылку будет меняться задний фон */
        background: #ea6767;
    }